@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
  background-color: #1677ff !important;
}

.ant-btn-primary:hover {
  background-color: #4096ff !important;
}

.ant-steps
  .ant-steps-item-custom
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-form-item-label {
  text-align: unset !important;
}

body {
  min-height: 100vh;
  background: white;
}
.rdg {
  background-color: #fff !important;
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
}
.rdg-cell {
  background-color: #fff !important;
  color: #000;

  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
}
.rdg-cell[role="columnheader"] {
  background-color: #fbfbfb !important;
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
}

.rdg-cell input {
  background-color: #fff !important;
  color: #000;

  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f5222d;
}

.status.active {
  background: #52c41a;
  animation: blink 1s linear infinite;
}

.status.blink-faster {
  animation: blink 0.2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
