@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
  background-color: #1677ff !important;
}

.ant-btn-primary:hover {
  background-color: #4096ff !important;
}

.ant-steps
  .ant-steps-item-custom
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-form-item-label {
  text-align: unset !important;
}

body {
  background-image: url(./assets/farmservice.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(0.7);
}
.rdg {
  background-color: #fff !important;
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
}
.rdg-cell {
  background-color: #fff !important;
  color: #000;

  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
}
.rdg-cell[role="columnheader"] {
  background-color: #fbfbfb !important;
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
}

.rdg-cell input {
  background-color: #fff !important;
  color: #000;

  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
}
